
/* -------------------- reset defaults -------------------- */
* { margin: 0; padding: 0; }
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, sub, sup, strong, em, ins, dl, dt, dd, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; border-width: 0; outline: 0; vertical-align: baseline; background: transparent; }
html, body { width: 100%; height: 100%; }
body { font: 12px/18px Arial; color: #313131; background:#f4f4f4; text-align: left; }
table { border-collapse: collapse; border-spacing: 0; border-width: 0; }
caption, td, th { vertical-align: top; }
dl, ul, ol { margin: 0; padding: 0; list-style: none; }
img { border: 0; border-width: 0; vertical-align: top; }

ins { text-decoration: underline; }
del { text-decoration: line-through; }
strong { font-weight: bold; }
em { font-style: italic; }
i { font-style: normal; }

input, button { overflow: visible; }
input, button, select { vertical-align: middle; }
select option { font: 12px/18px 'Verdana'; color: #555; }
input.text { font: 12px/14px 'Arial'; color: #555; padding: 1px 2px; border: 1px #808080 solid; }
input.radio { }
input.checkbox { }
input.file { width: 100%; height: 22px; }

blockquote { quotes: none; }
blockquote:before, blockquote:after { content: ""; }
q { quotes: '\00AB' '\00BB' '\201E' '\201C'; }
q:before { content: '\00AB'; }
q:after { content: '\00BB'; }
q q:before { content: '\201E'; }
q q:after { content: '\201C'; }

/* ----- global ----- */
a { color: #2687ad; text-decoration: underline; font: 11px 'Arial';}
a:hover, a:active { color: #2687ad; text-decoration: none;}
h1 { font: 18px/22px 'Arial'; color: #000000;margin: 0 0 10px 0; }
h2 { font: 18px/22px 'Arial'; color: #000000;margin: 0 0 10px 0; }
h3 { font: 14px/20px 'Arial'; color: #000000;}

/*--------------FONT----------------------*/
.f9{font-size: 9px;}
.f12{font-size: 12px;}
.f14{font-size: 14px;}


.posrel{position: relative;}
	
.al-c{text-align: center;}
.al-r{text-align: right;}
.va-m{vertical-align: middle;}
		
.f_r{float: right;display: block;position: relative;}
.f_l{float: left;display: block;position: relative;}
.submit {padding: 2px 10px;margin: -1px 0 0 0;font-size:107%;height:25px;-webkit-appearance:button;}
.mr5{margin-right: 5px;}	


/* ----- clear ----- */
.cl { clear: both; height: 0; overflow: hidden; }
.clf:after { content: ""; display: block; clear: both; visibility: hidden; height: 0; overflow: hidden; }
.nobg { background: none !important; }
.nobd { border: 0 !important; }
.nom { margin: 0 !important; }
.mop { padding: 0 !important; }
.mopt { padding-top: 0 !important; }

/*--------------COLOR----------------------*/
.grey{color:#494949;}
.white{color: #ffffff;}
.black{color:#000;}

/* -------------------- MAIN -------------------- */
#page { width: 100%; min-width: 1000px; height: 100%; position: relative; z-index: 1; }
.p-inner {  margin: 0 auto; position: relative; z-index: 7 ;padding: 0 ;}


/*------------------SITE STYLE-----------------------*/

.left-background
	{position: absolute;background: #ffffff;width: 230px;height: 100%;}

#head
	{width: 100%;height: 101px;	position:relative;	z-index: 1;}
		
#head #toper
	{width: 100%;height: 36px;position:relative;background:url("/images/top-bg.gif") repeat-x #000000;z-index: 1;}
#head #toper #user
	{position: absolute;right: 20px;top:2px;color: #ffffff;}
#head #toper #user A
	{color: #ffffff;font-size: 11px;}	
#head #logo
	{position: absolute;margin: 5px 0 0 14px;}		
#head #toper #logo span
	{display:block;margin-left:20px;height: 27px;width: 97px;position: absolute;background: url("/images/logo.png") no-repeat 0 0;text-indent: -1000px;}


#topmenu
	{height:64px;margin: 0px 0 0 -3px;}
#topmenu #mainmenu-container
	{padding: 0 20px;background:url("/images/topmenu-bg.gif") repeat-x;height:38px;}
#topmenu #mainmenu-container .item
	{float: left;margin: 0px 5px;}
#topmenu #mainmenu-container .item div
	{padding: 0px 0 0px 8px;}	
#topmenu #mainmenu-container .item div div
	{padding: 0px 8px 0px 0px;}	
#topmenu #mainmenu-container .active div, #topmenu #mainmenu-container .item:HOVER
	{background: url("/images/topmenu-bg-active-l.gif") 0 0 no-repeat;}	
#topmenu #mainmenu-container .active div div, #topmenu #mainmenu-container .item:HOVER div div
	{background: url("/images/topmenu-bg-active-r.gif") 100% 0 no-repeat;}
#topmenu #mainmenu-container .item A
	{display:block;text-shadow: 1px 1px 1px #737373;font-size:14px;color: #ffffff;font-weight: bold;text-decoration: none;padding: 13px 9px 9px 9px;}
#topmenu #mainmenu-container .active A, #topmenu #mainmenu-container .item:HOVER A
	{background: url("/images/topmenu-bg-active-c.gif") 0 0 repeat-x;}
		
#topmenu #submenu-container
	{position: relative;padding: 0 20px;background:url("/images/topmenu-sub-bg.gif") repeat-x #52acd1;height:26px;border-bottom: #489fc3 1px solid;}	
#topmenu #submenu-container .item
	{float: left;margin: 0px 5px;color:#ffffff;}
#topmenu #submenu-container .item div
	{padding:0;}
#topmenu #submenu-container .active div, #topmenu #submenu-container .item:HOVER div
	{background: #469dc1;}
#topmenu #submenu-container .item div A
	{display:block;padding:5px 17px;color:#ffffff;font-size: 13px;text-decoration: none;}	
#topmenu #submenu-container .sub-block
	{display: none;position: absolute;top:0;left:0;}
#topmenu #submenu-container .show-sub-block
	{display: block;}

#content
	{ width: 100%; position: relative;}	
#wrapper 
	{display: block; position: relative;padding: 0;}

#wrapper #main-table
	{height: 100%;width: 100%;}

#wrapper #left
	{position:absolute;left:0;top:0;height:100%;width: 190px;padding: 15px 20px;}
#wrapper #left ul li
	{padding: 0 0 0 15px;}
#wrapper #left ul li A.active
	{color: #313131;font-size: 12px;text-decoration: none;}
	
#wrapper  #right
	{position:static;margin:0 0 0 230px;padding: 15px;}
#wrapper #center
	{position:static;margin:0 0 0 0px;padding: 15px;}

#wrapper #tabs
	{height: 28px;padding: 0 0 0 10px;}
#wrapper #tabs A.item
	{float: left;color:#555555;text-decoration:none;margin: 0 4px 0 0;border: 1px solid #c6c6c6;padding: 7px 10px 6px 10px ;font-size: 12px;cursor: pointer;font-weight: bold;}
#wrapper #tabs A.active, #wrapper #tabs A.item:HOVER
	{background: #ffffff;border-bottom: 1px #ffffff solid;}

button.green
	{border: none;background: none;cursor: pointer;font: 11px/18px 'Trebuchet MS'; color: #6d733c;font-weight: bold;text-decoration: underline;}
button.green:HOVER
	{text-decoration: none;}	
button.green div
	{line-height: 25px;background: url("/images/buttom-left.gif") no-repeat;padding-left: 7px;}
button.green div div
	{background: url("/images/buttom-right.gif") no-repeat 100% 0;padding:0 14px 0 7px;}

#wrapper #main-container
	{border: 1px solid #c6c6c6;padding: 18px;background: #ffffff;}

#wrapper .edit-table
	{width: 100%;margin: 20px 0 0 0;}
#wrapper .edit-table thead td
	{background: #9e9e9e;font-weight: bold;color: #ffffff;padding: 10px 0 10px 15px;}
#wrapper .edit-table tbody td
	{padding: 10px 0 10px 15px;}
#wrapper .edit-table tfoot td
	{background: #9e9e9e;font-weight: bold;color: #ffffff;padding: 10px 0 10px 15px;}	
#wrapper .edit-table tbody tr.odd td
	{background: #f4f4f4;}	
#wrapper .edit-table tbody tr.check-autocomplite td
	{background: #FFFFCC;}	
#wrapper .edit-table tbody td .link-icon
	{margin: 0 5px 0 0;}

.edit-item TD
	{padding: 2px 10px;vertical-align: middle;}
.edit-item .answer-icon
	{cursor: help;}
.edit-item .table-caption
	{font-weight: bold;color: #555;}

.edit-item select.inputBox, .edit-item input, .edit-item textarea
	{width: 300px; padding: 3px 3px 2px 2px;color: #555;}
.edit-item select.inputBox
	{border: 1px solid #C3C3C3 !important;margin-right: 4px;}

.tab-content
	{display: none;}
	
.show-check
	{position:absolute;display: none;}	
.show-check-pages
	{margin:16px 0 0 0;}	
	
.project-search
	{width: 180px;padding: 2px;}
	
/*-------------------------------EDIT PROJECT----------------------------*/
.dop-params-link
	{text-decoration: none;border-bottom: 1px dashed #2687AD;}
.dop-params-link:HOVER
	{border: none;}	
.search-systems
	{width: 100%;height: 20px;padding-left: 10px;}
.search-systems .search-system, .search-systems div
	{float: left;margin-right: 10px;}
.search-systems .search-system A
	{font-size: 16px;}
.search-system-add 
	{margin-left: 20px;}	
.search-systems .search-system-add A
	{font-size: 12px;}
.search-systems .search-system A.active
	{text-decoration: none;color: #000000;}
.search-systems .search-system-add A
	{color: #000000;}	
.search-systems .search-system-add A img
	{float: left;margin: 0 5px 0 0;}
.regions
	{margin: 10px 0;padding-left: 10px;width: 100%;height: 20px;display: none;}		
.regions div.region
	{float: left;margin-right: 10px;}	
.regions div.region	A, .regions div.region-add	A
	{font-size: 12px;}
.regions div.region A.active
	{text-decoration: none;color: #000000;}
.regions div.region-add A.new-region 
	{color: #000000;}	
.regions div.region-add A.new-region	img
	{float: left;margin: 0 5px 0 0;}
table.querys
	{display: none;}
table.querys  input.exs
	{width: 20px;}
table.querys input.price
	{width: 67px;}
table.querys input.query
	{width: 200px;}		
.plus-query img
	{margin: 0px 5px 0 0;}
.plus-query
	{color: #000000;font-size: 12px;}
.plus-query:HOVER
	{color: #000000;}	
	
	
.groupHeadUser
	{text-decoration: none;font-size: 14px;border-bottom: 1px dashed #2687AD;}
.groupHeadUser:HOVER
	{border: none;}	
	
/*---------------------office user----------------------------------*/	
.userquerys TD
	{width: 200px;}
.userquerys TD div
	{overflow: hidden;width: 200px;height: 22px;}	
.userquerys-pos TD
	{text-align: center;}	
.userquerys TD,.userquerys-pos TD
	{padding: 2px;border-bottom: 1px solid #DADADA;border-right: 1px solid #DADADA;line-height: 22px;}
	
.message
	{background: #F4F4F4;padding: 10px;font-size: 18px;}	
/*-----------------FOOTER------------------------------*/
.subfooter-mini
	{ width: 100%; height: 10px; clear: both; visibility: hidden; overflow: hidden; position: relative; }

#subfooter
	{ width: 100%; height: 40px; clear: both; visibility: hidden; overflow: hidden; position: relative; }

	